<div class="header">
    <a href="#/board">Home</a> | <a href="" ng-click="logout()">Logout</a>
</div>

<div style="width:900px">
    <h2>Hi, {{user.name}}</h2>
    <a href="#/newQuestion">Add a Question</a>
    
    <div style="float:right">
        <label>Search</label>
        <input type="text" ng-model="searchFilter">
    </div>
    
    <table>
        <tr>
            <th>Question:</th>
            <th>Answers</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="question in questions | filter:searchFilter">
            <td>{{question.question}}</td>
            <td style="text-align:center;">{{question.answers.length}}</td>
            <td><a href="#/show/{{question._id}}">Show </a>| <a href="#/answer/{{question._id}}">Answer</a></td>
        </tr>
    </table>
</div>